# --- TMQ Docker Compose ---
APP_NAME=TMQ
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080

DB_PORT=3307
DB_DATABASE=tmq
DB_USERNAME=tmq
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

PYTHON_PORT=8000
PYTHON_ENGINE_URL=http://python_engine:8000
